.ref {
    visibility: hidden;
}

#sidebar-wrapper .panel {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#sidebar-wrapper .panel + .panel {
    margin-top: 0px;
    margin-bottom: 0px;
}

#wrapper {
    padding-left: 300px; /*changed*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 12.5px;
    font-size: small;
    background-color: inherit;    
}

#wrapper.toggled {
    padding-left: 50px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 300px; /*changed*/
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 50px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
    background-color: inherit;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -300px;   
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper.toggled .sidebar-nav {
    width: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav li {
    text-indent: 8px;
    line-height: 40px;
    cursor: pointer;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

li.panel.selected {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        width: 100%;
    }
}

li > a > i {
    width: 20px;
    margin-right: 22px;
}

span.desc {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:small;
}

#wrapper.toggled li > a > span.desc {
    display: none;
}

#wrapper.toggled input,
#wrapper.toggled button {
    display: none;
}

#wrapper.toggled li > a > span.desc {
    display: none;
}

#wrapper li > a > span.desc {
    display: inline-block;
    font-size: small;
}

#wrapper input,
#wrapper button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submenu a {
    padding-left: 50px;
    font-size: small;
}

#wrapper.toggled .submenu {
    display: none;
}

/*Edit*/
#sidebar-wrapper {
    background-color: #494544;
    color: white;
}

.sidebar-nav li a {
    color: #fff;
}