<nav class="navbar navbar-blue  navbar-expand-lg  rounded">
  <a class="navbar-brand"><b>ECP</b></a>
  |&nbsp;&nbsp;
  <ul class="navbar-nav mr-auto">
    <li [routerLinkActive]="['active']" role="presentation" [routerLink]="['./reports']" class="nav-item">
      <a class="nav-link">Reports</a>
    </li>
    <li [routerLinkActive]="['active']" role="presentation" [routerLink]="['./maintenance']" class="nav-item">
      <a class="nav-link">Maintenance</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a href="#"><i class="fa fa-user-circle"></i>&nbsp;Hello, eros</a>&nbsp;&nbsp;&nbsp;
    </li>
  </ul>
</nav>
