<br>
<div class="container-fluid">
  <div class="row">
    <!-- Teams -->
    <div class="col-sm-5">
      <tabset>
        <tab heading="Select Team to maintain" id="tab1">
          <br>
          <div class="btn-group">
            <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
              <fa-icon [icon]="faadd"></fa-icon>
              Add Team
            </label>
          </div>
          <br>
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col">Team Name</th>
                <th scope="col" class="short-column">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td scope="row"> 
                  <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                    <fa-icon [icon]="fatrash"></fa-icon>
                  </label>
                </td>
              </tr>
              <tr>
                <td scope="row">1</td>
                <td scope="row"> <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                    <fa-icon [icon]="fatrash"></fa-icon>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
    </div>
    <div class="col-sm-7">

      <tabset>
        <br>

        <!-- Employees -->
        <tab heading="Employees">
          <div class="row">
            <div class="btn-group">
              <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                <fa-icon [icon]="faadd"></fa-icon>&nbsp;Add Employee
              </label>
            </div>
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th scope="col" class="short-column">Employee ID</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col" class="short-column">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td scope="row">1</td>
                  <td scope="row">
                    <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                      <fa-icon [icon]="fatrash"></fa-icon>
                    </label>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </tab>
        <!-- Tasks -->
        <tab heading="Tasks" id="tab1">
          <div class="row">
            <div class="btn-group">
              <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                <fa-icon [icon]="faadd"></fa-icon>&nbsp;Add Task
              </label>
            </div>
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th scope="col">Task Description</th>
                  <th scope="col">Task Type</th>
                  <th scope="col" class="short-column">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">DQ Checking</td>
                  <td scope="row">Covered</td>
                  <td scope="row">
                    <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                      <fa-icon [icon]="fatrash"></fa-icon>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td scope="row">DQ Checking</td>
                  <td scope="row">Covered</td>
                  <td scope="row">
                    <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                      <fa-icon [icon]="fatrash"></fa-icon>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td scope="row">DQ Checking</td>
                  <td scope="row">Covered</td>
                  <td scope="row">
                    <label class="btn btn-primary btn-sm" btnCheckbox tabindex="0" role="button">
                      <fa-icon [icon]="fatrash"></fa-icon>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
